.idea
node_modules
.env
/.idea/
/node_modules/
/5_express_asyncjs/
/6_express_heroku/
/7_mongo/
/9_jest_queues/
/10_react_basics/
/12_react_core/_final-projects-ideas.part3
/12_react_core/_final-projects-ideas.part4
/12_react_core/final-projects-ideas.part3
/12_react_core/my-app
/12_react_core/typerace-hooks

/students/*
